:root {
  --bgcolor: white;
  --fontcolor: #444;
  --linkcolor: #00e;
  --visitedcolor: #551a8b;
  --precolor: #fff;
  --prebgcolor: #000;
}

article {
  padding: 24px 0
}

html {
  overflow-y: scroll
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 1rem/1.5 monospace;
  color: var(--fontcolor);
  background: #fefefe
}

a:link {
  color: var(--linkcolor)
}

a:visited {
  color: var(--visitedcolor)
}

a:active {
  color: var(--visitedcolor)
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ebebeb;
    background: #2b2b2b
  }

  a:link {
    color: #5bf
  }

  a:visited {
    color: #ccf
  }

  #brand a {
    color: #fefefe
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #2b2b2b;
    background: #fefefe;
  }

  #brand a {
    color: #2b2b2b
  }
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

#brand a {
  text-decoration: none;
}

#brand h1,
#brand h3 {
  margin: 0;
  margin-left: -10px;
}

.site-title {
  margin: 0;
  font-weight: bolder;
}

.site-title {
  font-size: 2rem;
}

#brand h3 {
  font-size: 1rem;
  font-weight: normal;
}

#brand .icon {
  width: 75px;
}

footer {
  margin-top: 30px;
}

h1.title {
  margin: 0 0 0 0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #root {
    margin-top: 25px;
  }

  #brand {
    flex-direction: row;
    text-align: unset;
  }

  #brand .text {
    margin-left: 10px;
  }

  #brand h1 {
    font-size: 35px;
  }

  #brand h3 {
    font-size: 25px;
  }
}

#postsByDate {
  list-style: none;
}

#postsByDate .date {
  width: 60px;
}

#postsByDate div,
#postsInOneGroup div {
  display: inline-block;
}

#terms {
  list-style: none;
}

img {
  min-width: 100%;
  max-width: 100%;
  margin-top: 3px;
  margin-bottom: 3px
}

article {
  padding: 15px 0 0 0;
}

.footnotes hr {
  border-top: 1px dashed;
  margin: 15px 10% 15px 10%;
}

.footnote-ref {
  text-decoration: none;
}

.footnote-ref::before {
  content: '[';
}

.footnote-ref::after {
  content: ']';
}

.footnotes ol {
  margin: 0;
}

.footnotes p {
  line-height: normal;
  font: 1rem/1.5 monospace;
  padding: 0;
  margin: 0;
}

.post-nav {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
  display: inline-block;
}

.post-nav-left {
  display: inline;
}

.post-nav-left a {
  margin-right: 30px;
}

.post-nav-right {
  float: right;
  text-align: right;
  display: inline;
}

pre {
  /*overflow-x: visible;*/ 
  white-space: pre-wrap;
  word-break: break-word; 
}